.footerItem:hover {
	text-decoration: none;
	color: white;
}
#footer {
	text-align: center;
	background-image: url(/img/footerBG.jpg);
	padding-top: 20px;
	padding-bottom: 2px;
}
.madeBy{
	text-align: center;
	color: #888;
	padding-top: 40px;
}
#footer .madeBy:hover{
	text-decoration: none;
	color: #999;
}
.footerPart {
	padding-top: 25px;
}
.footerItem{
	padding-left: 5px;
	padding-right: 5px;
}
#termsOfUse .termsOfUse{
	background: linear-gradient(to right,#26B5FF, #3E99FF);
}
#privacyTerms .privacyTerms{
	background: linear-gradient(to right,#26B5FF, #3E99FF);
}