#nav{
	background: linear-gradient(to right,#26B5FF, #3E99FF);
}
#nav .subTitle{
	color:#000000;
}
#nav .games:hover{
	color:#000000;
}
#nav .games{
	color:#888888;
}
#nav .subTitle:hover{
	color: #666666;
}